.viewport {
    width: 100vw;
    height: 100vh;
    position: relative;
    isolation: isolate;
    overflow: hidden;

    &[data-dragging="true"] {
        cursor: grabbing;
    }
}

.viewport-pixel-grid {
    position: absolute;
    pointer-events: none;

    &[data-hidden="true"] {
        display: none;
    }
}