.sidebar {
    pointer-events: auto;
    background: var(--neutral-825);
    border-radius: .375rem;
    border: .0625rem solid var(--neutral-750);
    display: flex;
    overflow-y: auto;

    @media (max-width: 699px) {
        flex-direction: column-reverse;
        width: 16rem;
    }

    @media (min-width: 700px) {
        flex-direction: row;
        min-height: 32rem;
        max-height: calc(100% - 2rem);
    }
}

.sidebar-tabs {
    display: flex;
    justify-content: space-between;
    padding: .1875rem;

    @media (max-width: 699px) {
        flex-direction: row;
        gap: .25rem;
    }

    @media (min-width: 700px) {
        flex-direction: column;
        gap: .5rem;
    }
}

.sidebar-tab-group {
    display: flex;
    gap: .25rem;

    @media (max-width: 699px) {
        flex-direction: row;
    }

    @media (min-width: 700px) {
        flex-direction: column;
    }
}

.sidebar-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border-radius: .25rem;
    width: 2rem;
    height: 2rem;
    color: var(--neutral-200);

    &:hover {
        background-color: var(--neutral-750);
        color: var(--neutral-100);
    }

    &:active {
        background-color: var(--neutral-700);
        color: white;
    }

    &:focus-visible {
        outline: none;
        background-color: var(--infused-700);
        color: white;
    }

    &[aria-pressed="true"] {
        background-color: var(--primary-600);
        color: white;
    }
}

.sidebar-divider {
    background-color: var(--neutral-750);

    @media (max-width: 699px) {
        height: 0.0625rem;
    }

    @media (min-width: 700px) {
        width: 0.0625rem;
    }
}

.sidebar-content {
    @media (min-width: 700px) {
        width: 16rem;
    }
}