.toolbar-button {
    appearance: none;
    border: none;
    background: none;

    display: grid;
    place-content: center;
    grid-auto-flow: column;
    position: relative;

    min-width: 2rem;
    min-height: 2rem;
    border-radius: .25rem;
    color: var(--neutral-200);
    transition: background-color .1s;

    &:hover {
        background-color: var(--neutral-750);
        color: var(--neutral-100);
    }

    &:active {
        background-color: var(--neutral-700);
        color: white;
    }

    &:focus-visible {
        outline: none;
        background-color: var(--infused-700);
        color: white;
    }

    &[aria-pressed="true"] {
        background-color: var(--primary-600);
        color: white;
    }
}