.toolbar-container {
    position: absolute;
    inset: 1rem 1rem auto;
    pointer-events: none;
    display: grid;
    gap: .25rem;
    justify-items: center;
    align-items: start;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    & * {
        pointer-events: auto;
    }
}

.toolbar {
    background: var(--neutral-825);
    border-radius: .375rem;
    border: .0625rem solid var(--neutral-750);
    padding: .1875rem;
    display: flex;
    gap: .25rem;
}

.toolbar-button {
    appearance: none;
    border: none;
    background: none;

    display: grid;
    place-content: center;
    grid-auto-flow: column;
    position: relative;

    min-width: 2rem;
    min-height: 2rem;
    border-radius: .25rem;
    color: var(--neutral-200);
    transition: background-color .1s;

    &:hover {
        background-color: var(--neutral-750);
        color: var(--neutral-100);
    }

    &:active {
        background-color: var(--neutral-700);
    }

    &:focus-visible {
        outline: none;
        background-color: var(--infused-700);
    }

    &[aria-pressed="true"] {
        background-color: var(--primary-600);
        color: var(--primary-100);
    }
}

.toolbar-button-hint {
    position: absolute;
    right: .125rem;
    bottom: .125rem;
    font-size: .625rem;
    line-height: 1;
    color: var(--neutral-500);
    font-weight: 500;

    .toolbar-button[aria-pressed="true"] & {
        color: transparent;
    }
}