.interface {
    position: absolute;
    inset: 0;
    padding: 1rem;
    pointer-events: none;
    display: grid;
    gap: .25rem;
    grid-template-rows: auto auto 1fr;

    &>* {
        pointer-events: auto;
        justify-self: center;
        align-self: start;
    }

    @media (max-width: 699px) {
        grid-template-columns: 1fr;

        &>.sidebar {
            align-self: end;
            grid-row: -1;
        }
    }

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1rem 1fr;

        &>* {
            grid-column: 2
        }

        &>.sidebar {
            grid-column: 1;
            grid-row: 2/-1;
            justify-self: start;
            align-self: center;
        }
    }
}