:root {
    font-family: ui-sans-serif, system-ui;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    color-scheme: dark;
    background: var(--neutral-900);
    color: white;
    accent-color: var(--primary-400);

    /* Tailwind Neutral */
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;

    --neutral-675: #444444;
    --neutral-750: #333333;
    --neutral-825: #222222;

    /* Tailwind 50% Sky Blue + 50% Blue */
    --primary-50: #eff7ff;
    --primary-100: #DDEEFE;
    --primary-200: #BCE0FD;
    --primary-300: #87CBFC;
    --primary-400: #4CB0F9;
    --primary-500: #2493ef;
    --primary-600: #1373d8;
    --primary-700: #0f5bbc;
    --primary-800: #124c99;
    --primary-900: #15427c;
    --primary-950: #0f294e;

    --primary-500\/20: rgba(36, 147, 239, 0.2);

    /* Primary 20% + Neutral 80% */
    --infused-50: #F8FAFB;
    --infused-100: #F0F4F7;
    --infused-200: #DDE4EA;
    --infused-300: #C5D3DC;
    --infused-400: #91A5B4;
    --infused-500: #637A8C;
    --infused-600: #46596D;
    --infused-700: #364559;
    --infused-800: #222D3D;
    --infused-900: #161F2B;
    --infused-950: #0B1018;

    /* Tailwind Red */
    --danger-50: #fef2f2;
    --danger-100: #fee2e2;
    --danger-200: #fecaca;
    --danger-300: #fca5a5;
    --danger-400: #f87171;
    --danger-500: #ef4444;
    --danger-600: #dc2626;
    --danger-700: #b91c1c;
    --danger-800: #991b1b;
    --danger-900: #7f1d1d;
    --danger-950: #450a0a;
}

input,
button,
select,
textarea {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: inherit;
    color: inherit;
}

*::selection {
    background: var(--primary-700);
    color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

kbd {
    font: inherit;
}

.display-none {
    display: none;
}

.neutral-400 {
    color: var(--neutral-400);
}

.flex-grow {
    flex-grow: 1;
}

.w-3\.5rem {
    width: 3.5rem;
}