.custom-select {
    position: relative;
    font-size: .75rem;
    border-radius: .25rem;
    background: var(--neutral-750);
  
    &:has(> .custom-select-inner:hover) {
      box-shadow: inset 0 0 0 1px var(--neutral-675);
    }
  
    &.custom-select[aria-expanded="true"] {
      box-shadow: inset 0 0 0 1px var(--primary-500);
    }
  }
  
  .custom-select-inner {
    height: 1.5rem;
    display: flex;
    cursor: pointer;
    padding-inline: .25rem;
    gap: .25rem;
  }
  
  .custom-select-value {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .custom-select-chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-400);
  }
  
  .custom-select-options {
    position: absolute;
    top: calc(100% + .0625rem);
    left: -.25rem;
    padding: .1875rem;
    display: grid;
    background: var(--neutral-900);
    box-shadow: var(--shadow-strong);
    border: 1px solid var(--neutral-800);
    border-radius: .375rem;
    min-width: calc(100% + .5rem);
  }
  
  .custom-option {
    display: grid;
    grid-template-columns: 1rem auto;
    align-items: center;
    gap: .25rem;
    height: 1.5rem;
    padding-inline: .25rem;
    border-radius: .25rem;
    border: none;
    background: transparent;
  
    &:hover {
      background: var(--neutral-800);
    }
  
    &:active:not(:disabled) {
      background: var(--neutral-750);
    }
  
    &:disabled {
      color: var(--neutral-400);
      cursor: not-allowed;
    }
  }
  
  .custom-option-check {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-300);
  }
  
  .custom-option-label {
    font-size: .75rem;
    display: flex;
    align-items: center;
    grid-column: 2;
  }
  
  .option-divider {
    height: 1px;
    background: var(--neutral-800);
    margin-inline: -.25rem;
    margin-block: .125rem;
  }