.number-input-container {
    font-size: .75rem;
    height: 1.5rem;
    display: flex;
    border-radius: .25rem;
    background: var(--neutral-750);
    cursor: text;
    padding-inline: .25rem;
    gap: .25rem;

    &:hover {
        box-shadow: inset 0 0 0 1px var(--neutral-675);
    }

    &:focus-within {
        box-shadow: inset 0 0 0 1px var(--primary-500);
    }

    &:has(:disabled) {
        color: var(--neutral-400);
        cursor: not-allowed;
    }
}

.input-icon {
    /* width: 1rem; */
    min-width: .75rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-300);
}

.number-input {
    display: flex;
    border: none;
    background: transparent;
    outline: none;
    -moz-appearance: textfield;
    height: 1.5rem;
    min-width: 0;
    flex: 1;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.number-input-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-400);
}