.stack {
    display: flex;
    flex-direction: column;
    --spacing: 0;
    --padding: 0;
    --margin: 0;
    gap: var(--spacing);
    padding: var(--padding);
    margin: var(--margin);

    &.row {
        flex-direction: row;
    }
}