.text {
    &.text-small {
        font-size: .75rem;
    }

    &.text-medium {
        font-size: .875rem;
    }

    &.text-large {
        font-size: 1rem;
    }

    &.text-muted {
        color: var(--neutral-300);
    }
}