.color-input-swatch {
    width: .875rem;
    height: .875rem;
    margin: .0625rem;
    place-self: center;
    border-radius: .0625rem;
    overflow: hidden;
    position: relative;

    & input[type="color"] {
        position: absolute;
        inset: -.5rem;
        width: 2rem;
        height: 2rem;
        opacity: 0;
        cursor: pointer;
    }
}

.color-input {
    text-transform: uppercase;
}